    </div>
</div>



    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="http://www.twentyfirst.ca/">
                        &copy; 2015 TwentyFirst Leadership Education                         
                    </a>                
                </div>

            </div>
        </div>
    </footer>