<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="background-color: transparent;">
                <h1>Welcome Nicola</h1>
            </div>

        </div>
    </div>
</header>
<!-- HEADER END-->

<section class="menu-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar-collapse collapse ">
                    <ul id="menu-top" class="nav navbar-nav navbar-right">
                        <li><a class="menu-top-active" href="/">Home</a></li>
                        <li><a href="/">All Tasks</a></li>
                        <li><a href="table.html">Templates</a></li>
                        <li><a href="forms.html">Profile</a></li>
                         <li><a href="login.html">Logout</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>